<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Domača stran</title>
    <div th:include="includes/template.html :: header"></div>
    <link rel="stylesheet" th:href="@{/css/domaca-stran.css}"/>
</head>
<body>
<div th:include="includes/template.html :: navbar"></div>

<!-- Za desktop / laptop -->
<div id="visible-desktop">
    <div id="particles" class="particles-background">
        <div class="cards">
            <div class="row">
                <th:block th:each="kartica, iter : ${kartice}">
                    <div class="col-lg-4 col-md-6" align="center">
                        <div th:id="${iter.count}" class="card"
                             style="width: 18rem; background-color: rgba(0, 0, 0, 0.2); margin-top: 50px; height: 290px">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-warning" style="color: #f78c00;"
                                    th:text="${kartica.getSkrajsanaNakljucnaDiagnoza()}"></h5>
                                <!--<h6 class="card-subtitle mb-2 text-muted" th:text="${kartica.getNakljucnoLeto()}"></h6>-->
                                <p class="card-text" style="color: white;"
                                   th:text="${kartica.izpisiVnoseRegij()}"></p>
                                <!--<a th:href="@{/iskanje_po_zbirkah(zbirka=${zbirka}, diagnoza=${diagnoza}, leto=${leto}, izvajalci=${izvajalci})}"-->
                                <!--class="card-link">Card link</a>-->
                                <button type="button" class="mt-auto btn btn-lg btn-block btn-outline-warning">
                                    <a class="kartica-link" th:href="@{/iskanje_po_diagnozah(diagnoza=${kartica.getNakljucnaDiagnoza()},
                                regije=${kartica.getRegije()})}">Pojdi na stran</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div class="parallex-desktop">
        <div id="tooltips">
            <div id="tooltip" role="tooltip">
                <p style="font-size: 15px">Prikazan je demo graf, ki<br> prikazuje število primerov kemoterapije<br>
                    skozi leta za Koroško, Pomursko,<br> Osrednjeslovensko in Goriško.</p>
                <div class="arrow" data-popper-arrow></div>
            </div>
            <div id="tooltip1" role="tooltip">
                <p style="font-size: 15px">Tabela prikazuje 5 diagnoz, <br>ki imajo največje število primerov<br> v
                    Sloveniji za izbrano leto.</p>
                <div class="arrow" data-popper-arrow></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="space" style="height: 50px"></div>
            <div class="row">
                <div class="col-12" align="center">
                    <span class="custom-dropdown big">
                    <select id="select-leto">
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                    </span>
                    <table id="tabela-diagnoz" class="table table-hover table-borderless"
                           style="width: 800px; margin-bottom: 0;"
                           align="center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ime diagnoze</th>
                            <th scope="col">Število primerov</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="tabelnaVrstica, iter : ${tabelneVrstice}">
                            <tr>
                                <th class="transparentna-tabela" scope="row" th:text="${iter.count}"></th>
                                <td class="transparentna-tabela" th:text="${tabelnaVrstica.getDiagnoza()}"></td>
                                <td class="transparentna-tabela" th:text="${tabelnaVrstica.getSteviloPrimerov()}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="space" style="height: 50px"></div>
            <div class="row">
                <div class="col-12" align="center">
                    <div class="chart-container" style="width: 800px; height: 400px;">
                        <canvas id="line-chart"
                                style="background-color: rgba(0,0,0,0.8); border-radius: 10px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="space" style="height: 50px"></div>
        </div>
    </div>
</div>

<!-- Za telefone -->
<div id="visible-phone">
    <div class="kartice">
        <div class="cards2">
            <div class="row">
                <th:block th:each="kartica, iter : ${kartice}">
                    <div th:if="${iter.count < 4}" class="col-sm-12" align="center">
                        <div class="card"
                             style="width: 18rem; background-color: rgba(0, 0, 0, 0.2); margin-top: 50px; height: 290px">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-warning" style="color: #f78c00;"
                                    th:text="${kartica.getSkrajsanaNakljucnaDiagnoza()}"></h5>
                                <!--<h6 class="card-subtitle mb-2 text-muted" th:text="${kartica.getNakljucnoLeto()}"></h6>-->
                                <p class="card-text" style="color: white;"
                                   th:text="${kartica.izpisiVnoseRegij()}"></p>
                                <!--<a th:href="@{/iskanje_po_zbirkah(zbirka=${zbirka}, diagnoza=${diagnoza}, leto=${leto}, izvajalci=${izvajalci})}"-->
                                <!--class="card-link">Card link</a>-->
                                <button type="button" class="mt-auto btn btn-lg btn-block btn-outline-warning">
                                    <a class="kartica-link" th:href="@{/iskanje_po_diagnozah(diagnoza=${kartica.getNakljucnaDiagnoza()},
                                regije=${kartica.getRegije()})}">Pojdi na stran</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div class="parallex-phone" style="margin-top: 50px;">
        <div class="container-fluid">
            <div class="space" style="height: 40px"></div>
            <div class="row">
                <div class="col-12" align="center">
                    <span class="custom-dropdown big">
                    <select id="select-leto-phone">
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                    </span>
                    <div class="table-responsive">
                        <table id="tabela-diagnoz-phone" class="table table-hover table-borderless"
                               style="width: 800px; margin-bottom: 0"
                               align="center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ime diagnoze</th>
                                <th scope="col">Število primerov</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="tabelnaVrstica, iter : ${tabelneVrstice}">
                                <tr>
                                    <th class="transparentna-tabela" scope="row" th:text="${iter.count}"></th>
                                    <td class="transparentna-tabela" th:text="${tabelnaVrstica.getDiagnoza()}"></td>
                                    <td class="transparentna-tabela"
                                        th:text="${tabelnaVrstica.getSteviloPrimerov()}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space" style="height: 50px"></div>
            <div class="row">
                <div class="col-12" align="center">
                    <div class="chart-container" style="width: auto; height: 300px;">
                        <canvas id="line-chart-phone"
                                style="background-color: rgba(0,0,0,0.8); border-radius: 10px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="space" style="height: 50px"></div>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <div class="small-container">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-4 col-sm-4 mt-2">
                <div class="text-center center-block">
                    <p style="margin: 2px; font-size: 20px; ">Povezave do zbirk</p>
                    <p style="margin: 2px"><a href="https://podatki.gov.si/dataset/nijzspp_tb15a">SPP primeri po
                        statističnih
                        regijah</a></p>
                    <p style="margin: 2px"><a href="https://podatki.gov.si/dataset/nijzspp_tb07a">SPP primeri po
                        izvajalcih
                        ZV</a></p>
                    <p style="margin: 2px"><a href="https://podatki.gov.si/">Javni podatki Slovenije</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mt-2">
                <div class="footer-icons text-center center-block">
                    <p style="margin: 2px; font-size: 20px;">GitLab repozitorij</p>
                    <a href="https://gitlab.com/Kiko98/praktikum-2"><i id="social-gb-domaca"
                                                                       class="fab fa-gitlab fa-3x social mt-3"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mt-2">
                <div class="text-center center-block">
                    <p style="margin: 2px; font-size: 20px;">Avtorji</p>
                    <p style="margin: 2px">Kristian Grgić</p>
                    <p style="margin: 2px">Janez Martin Kričej</p>
                    <p style="margin: 2px">David Leskovar</p>
                    <p style="margin: 2px">Monika Petek</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12" align="center">
                <p>© Zajeti podatki se uporabljajo pod licenco : CC BY 4.0, za verodostojnost podatkov ne odgovarjamo</p>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script th:src="@{/js/p5.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/domaca-stran.js}"></script>
<script th:src="@{/js/graf-domaca-stran.js}"></script>
</body>
</html>