<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Išči po diagnozah</title>
    <div th:include="includes/template.html :: header"></div>
    <link rel="stylesheet" th:href="@{/css/iskanje-po-zbirkah.css}"/>
</head>
<body>
<div th:include="includes/template.html :: navbar"></div>
<div class="container">
    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="select-element">
                    <p class="label" style="font-size: 20px;">Izberite diagnozo</p>
                    <select id="select-diagnoza" class="js-example-basic-single" style="width: 100%;"
                            required="required">
                        <th:block th:each="oznakaInImeBolezni : ${oznakeInImenaBolezni}">
                            <option th:value="${oznakaInImeBolezni.getOznakaInImeBolezni()}"
                                    th:text="${oznakaInImeBolezni.getOznakaInImeBolezni()}">
                            </option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="select-element">
                    <p class="label" style="font-size: 20px;">Izberite regije</p>
                    <select id="select-regije" class="js-example-basic-multiple" multiple="multiple"
                            style="width: 100%;" required="required">
                        <th:block th:each="regija : ${regije}">
                            <option th:value="${regija}" th:text="${regija}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
        <button id="potrdi_izbiro" type="button" class="btn btn-primary mt-3">Potrdi</button>
    </form>
</div>
<div class="container-fluid">
    <div id="grafi">
    </div>
</div>
<div id="footer-fixed" class="footer-fixed">
    <div class="small-container">
        <div id="footer-vsebina">
            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-md-4 col-sm-4 mt-2">
                    <div class="text-center center-block">
                        <p class="footer-col-naslov">Povezave do zbirk</p>
                        <p class="footer-col-text"><a href="https://podatki.gov.si/dataset/nijzspp_tb15a">SPP primeri po
                            statističnih
                            regijah</a></p>
                        <p class="footer-col-text"><a href="https://podatki.gov.si/dataset/nijzspp_tb07a">SPP primeri po
                            izvajalcih
                            ZV</a></p>
                        <p class="footer-col-text"><a href="https://podatki.gov.si/">Javni podatki Slovenije</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mt-2">
                    <div class="footer-icons text-center center-block">
                        <p class="footer-col-naslov">GitLab repozitorij</p>
                        <a href="https://gitlab.com/Kiko98/praktikum-2"><i
                                id="social-gb-iskanje"
                                class="fab fa-gitlab fa-3x social mt-3"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 mt-2">
                    <div class="text-center center-block">
                        <p class="footer-col-naslov">Avtorji</p>
                        <p class="footer-col-text">Kristian Grgić</p>
                        <p class="footer-col-text">Janez Martin Kričej</p>
                        <p class="footer-col-text">David Leskovar</p>
                        <p class="footer-col-text">Monika Petek</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12" align="center">
                <p class="footer-col-text">© Zajeti podatki se uporabljajo pod licenco : CC BY 4.0, za verodostojnost podatkov ne odgovarjamo</p>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/iskanje-po-diagnozah.js}"></script>
<script th:src="@{/js/select2.js}"></script>
<script th:src="@{/js/prikaz-izbrane-kartice.js}"></script>
</body>
</html>