body {
    background-color: rgb(34, 34, 34);
    overflow-x: hidden;
}

/* Desktops / Laptops */
@media screen and (max-width: 2400px) {
    #visible-phone {
        display: none !important;
    }
    #visible-desktop {
        display: block !important;
    }

    #tooltips {
        display: block; !important;
    }
    .small-container {
        width: 40%;
        margin: auto;
    }
}

/* Tablets */
@media screen and (max-width: 1440px) {
    #visible-phone {
        display: none !important;
    }
    #visible-desktop {
        display: block !important;
    }
    #tooltips {
        display: none; !important;
    }
    .small-container {
        width: 40%;
        margin: auto;
    }
}

/* Phones */
@media screen and (max-width: 830px) {
    #visible-desktop {
        display: none !important;
    }

    #visible-phone {
        display: block !important;
    }
    .small-container {
        width: 100%;
        margin: auto;
    }
}

/* Za desktop */
.particles-background {
    /*overflow: hidden;*/
    width: 100%;
    height: auto;
}

.parallex-desktop {
    position: relative;
    background-image: url("../img/parallex_ozadje2.jpg");
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

/* Za telefon */
.kartice {
    width: 100%;
    height: auto;
    background-color: rgb(34, 34, 34);
}

.parallex-phone {
    background-image: url("../img/parallex_ozadje2.jpg");
    width: 100%;
    height: auto;
    opacity: 1;
}

.cards {
    width: 100%;
    position: fixed;
}

.cards2 {
    width: 100%;
}

/* Navbar Animation */
.navbar {
    background: rgb(34, 34, 34);
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f78c00;
    transition: 0.2s;
}

.nav-item:hover::after { /* po hover-ju se animacija za 100% poveča */
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f78c00;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 0.5rem 0 0 0;
}

.footer, .footer-fixed p {
    font-size: 0.8rem;
}

/* Footer Icons */
.social:hover {
    transform: scale(1.1);
}
.social {
    transform: scale(0.8);
    transition-duration: 0.5s;
}

.footer .footer-icons a > i, .footer-fixed .footer-icons a > i {
    color: #555;
}

#social-gb-domaca {
    color: white;
}

#social-gb-domaca:hover {
    color: #f39c12;
}

/* Fonts */
.pacifico {
    font-family: 'Pacifico', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* Custom Select Dropdown */
.big {
    font-size: 1.2em;
}

.small {
    font-size: .7em;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; /* demo only */
}

.custom-dropdown select {
    background-color: #363636;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    width: 200px;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance: none;
    /*Hiding the select arrow default implementation*/
    appearance: none;
}

.custom-dropdown select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, .2);
}

.custom-dropdown::after {
    color: rgba(0, 0, 0, .6);
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .25);
}

/* Tooltips */
/* PRVI */
#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    /*display: none;*/
}

/*#tooltip[data-show] {*/
    /*display: block;*/
/*}*/

.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #333;
}

#tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
}

/* DRUGI */
#tooltip1 {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    /*display: none;*/
}

/*#tooltip1[data-show] {*/
    /*display: block;*/
/*}*/

#tooltip1[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}

#tooltip1[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}

#tooltip1[data-popper-placement^='left'] > .arrow {
    right: -4px;
}

#tooltip1[data-popper-placement^='right'] > .arrow {
    left: -4px;
}

/* Other */
.divide {
    border-right: 1px solid lightgray;
}

.col-centered {
    justify-self: center;
    margin: 0 auto;
}

.kartica-link {
    text-decoration: none;
    color: white;
}

.kartica-link:hover {
    text-decoration: none;
    color: black;
}

.transparentna-tabela {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: #ff8c00;
}

.transparentna-tabela:hover {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: #ffcd17;
}

table {
    border-radius: 10%;
}

