/* Desktops / Laptops */
@media screen and (max-width: 2400px) {
    body {
        margin-bottom: 200px;
    }
    .small-container {
        width: 40%;
        margin: auto;
    }
    .footer-col-naslov {
        margin: 2px;
        font-size: 20px;
    }
    .footer-col-text {
        margin: 2px;
        font-size: 13px;
    }
    #footer-vsebina {
        display: block;
    }
}

/* Tablets */
@media screen and (max-width: 1440px) {
    body {
        margin-bottom: 300px;
    }
    .small-container {
        width: 40%;
        margin: auto;
    }
    .footer-col-naslov {
        margin: 2px;
        font-size: 20px;
    }
    .footer-col-text {
        margin: 2px;
    }
    #footer-vsebina {
        display: block;
    }
}

/* Phones */
@media screen and (max-width: 950px) {
    body {
        margin-bottom: 400px;
    }
    .small-container {
        width: 100%;
        margin: auto;
    }
    #footer-vsebina {
        display: none;
    }
}

/* Navbar Animation */
.navbar {
    background:#222222;
}

.nav-item::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #f78c00;
    transition: 0.2s;
}

.nav-item:hover::after { /* po hover-ju se animacija za 100% poveča */
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f78c00;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: white;
    color: grey;
    padding: 0.5rem 0 0 0;
}

.footer-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    color: grey;
    padding: 0.5rem 0 0 0;
}

/* Footer Icons */
.social:hover {
    transform: scale(1.1);
}
.social {
    transform: scale(0.8);
    transition-duration: 0.5s;
}

.footer .footer-icons a > i, .footer-fixed .footer-icons a > i {
    color: #555;
}

#social-gb-iskanje:hover {
    color: #f39c12;
}

/* Scrollable menu */
.scrollable-menu {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 500px;
    overflow: scroll;
}

/* Radio */
.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:checked ~ label {
    color: #777;
}

.funkyradio-danger input[type="radio"]:hover:not(:checked) ~ label:before {
    font-family: FontAwesome;
    content: '\f0f8';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before {
    font-family: FontAwesome;
    content: '\f0f8';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:hover:not(:checked) ~ label:before {
    font-family: FontAwesome;
    content: '\f7a2';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before {
    font-family: FontAwesome;
    content: '\f7a2';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

/* Other */
.pacifico {
    font-family: 'Pacifico', cursive;
}

.divide {
    border-right: 1px solid lightgray;
}

.col-centered{
    justify-self: center;
    margin: 0 auto;
}

.select-element {
    margin-top: 30px;
}

.label {
    color: #9c9c9c;
}